@font-face {
  font-family: 'Tanha';
  src: local('Tanha'), url(./fonts/Tanha.ttf) format('truetype');
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: Tanha, sans-serif;
}
